<div>
<!--
  <app-mon-premier-composant></app-mon-premier-composant>
  <p>Maintenant : {{ maintenant | date:'shortDate' }}</p>
  <p>{{ titre }}</p>
  <img src="{{ image }}" alt="Une image">
  <p [class]="unAttrTypeScript"></p>
  <img [src]="image" alt="Une image">
  <button
  (click)="jaiClique()">
    Mon bouton
  </button>
  <input type="text"
         name="prenom"
         id="prenom"
         [(ngModel)]="prenom">
  <p>{{ prenom }}</p>

  <app-parent></app-parent>
  -->
  <app-utilisation-service></app-utilisation-service>
  <app-emission></app-emission>
</div>
